<div class="container">
  <mat-card>
    <mat-card-header> <mat-card-title>Push-up tracker</mat-card-title> </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>User</th>
          <td mat-cell *matCellDef="let entry">{{ entry.userName }}</td>
        </ng-container>

        <ng-container matColumnDef="dailySum">
          <th mat-header-cell *matHeaderCellDef>Daily sum</th>
          <td mat-cell *matCellDef="let entry">{{ entry.dailySum }}</td>
        </ng-container>

        <ng-container matColumnDef="totalSum">
          <th mat-header-cell *matHeaderCellDef>Total sum</th>
          <td mat-cell *matCellDef="let entry">{{ entry.totalSum }}</td>
        </ng-container>

        <ng-container matColumnDef="dailyAverage">
          <th mat-header-cell *matHeaderCellDef>Daily average</th>
          <td mat-cell *matCellDef="let element">{{ element.dailyAverage }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-raised-button (click)="openDialog()">Add</button>
    </mat-card-actions>
  </mat-card>
</div>
