<form class="example-form" [formGroup]="form" (ngSubmit)="submitPushups()">
  <input matInput label="User name" formControlName="userName" />

  <input matInput label="Number" type="number" formControlName="pushupsCount" />

  <button mat-raised-button type="submit">Add</button>
</form>
